.card-title a {
  color: black;
  cursor: pointer;
}
/* .card-item {
  margin: 3% 0;
} */
.show-more-btn {
  margin: 5% 0;
}
.card {
  margin: auto;
  margin-top: 5%;
}
.go-back-btn {
  margin-top: 5%;
}

@media (max-width: 600px) {
  /* .card-item {
    margin-left: 10%;
  } */
  /* .more-info {
    margin-left: 0;
  }  */
}
